In [2]:
import pandas as pd

dict={
    "Fruits":["mango","apples","banana","papaya"],
    "Price":[100,150,60,124],
    "Quantity":[15,10,10,4],
}

df=pd.DataFrame(dict)
print(df)

   Fruits  Price  Quantity
0   mango    100        15
1  apples    150        10
2  banana     60        10
3  papaya    124         4

In [7]:
 df2=df.copy()
print(df)
print("..........................")

df2.loc[0,"Price"]=120
df2.loc[1,"Price"]=175
df2.loc[3,"Price"]=30
df2.loc[0,"Quantity"]=20
df2.loc[1,"Quantity"]=35
df2.loc[3,"Quantity"]=30

print(df2)

   Fruits  Price  Quantity
0   mango    100        15
1  apples    150        10
2  banana     60        10
3  papaya    124         4
..........................
   Fruits  Price  Quantity
0   mango    120        20
1  apples    175        35
2  banana     60        10
3  papaya     30        30

In [12]:
#return the value which are different in both 

print(df.compare(df2)) 
print("--------------------------------------------------")
print(df.compare(df2,align_axis=1)) # both are same

   Price        Quantity
    self  other     self other
0  100.0  120.0     15.0  20.0
1  150.0  175.0     10.0  35.0
3  124.0   30.0      4.0  30.0
--------------------------------------------------
   Price        Quantity
    self  other     self other
0  100.0  120.0     15.0  20.0
1  150.0  175.0     10.0  35.0
3  124.0   30.0      4.0  30.0

In [9]:
print(df.compare(df2,align_axis=0))

         Price  Quantity
0 self   100.0      15.0
  other  120.0      20.0
1 self   150.0      10.0
  other  175.0      35.0
3 self   124.0       4.0
  other   30.0      30.0

In [16]:
print(df.compare(df2,keep_equal=True))
print("----------------------------------------")
print(df.compare(df2,keep_equal=False))

  Price       Quantity
   self other     self other
0   100   120       15    20
1   150   175       10    35
3   124    30        4    30
----------------------------------------
   Price        Quantity
    self  other     self other
0  100.0  120.0     15.0  20.0
1  150.0  175.0     10.0  35.0
3  124.0   30.0      4.0  30.0

In [17]:
print(df.compare(df2,keep_shape=True,))
print("----------------------------------------")
print(df.compare(df2,keep_shape=False))

  Fruits        Price        Quantity
    self other   self  other     self other
0    NaN   NaN  100.0  120.0     15.0  20.0
1    NaN   NaN  150.0  175.0     10.0  35.0
2    NaN   NaN    NaN    NaN      NaN   NaN
3    NaN   NaN  124.0   30.0      4.0  30.0
----------------------------------------
   Price        Quantity
    self  other     self other
0  100.0  120.0     15.0  20.0
1  150.0  175.0     10.0  35.0
3  124.0   30.0      4.0  30.0