In [3]:
import pandas as pd
data=pd.read_excel("DataSets/ESD.xlsx")
print(data)

       EEID        Full Name                 Job Title  Department  \
0    E02387      Emily Davis                Sr. Manger          IT
1    E04105    Theodore Dinh       Technical Architect          IT
2    E02572     Luna Sanders                  Director     Finance
3    E02832  Penelope Jordan  Computer Systems Manager          IT
4    E01639        Austin Vo               Sr. Analyst     Finance
..      ...              ...                       ...         ...
995  E03094     Wesley Young               Sr. Analyst   Marketing
996  E01909     Lillian Khan                   Analyst     Finance
997  E04398      Oliver Yang                  Director   Marketing
998  E02521      Lily Nguyen               Sr. Analyst     Finance
999  E03545      Sofia Cheng            Vice President  Accounting

              Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0    Research & Development  Female      Black   55 2016-04-08         141604
1             Manufacturing    Male      Asian   59 1997-11-29          99975
2       Speciality Products  Female  Caucasian   50 2006-10-26         163099
3             Manufacturing  Female  Caucasian   26 2019-09-27          84913
4             Manufacturing    Male      Asian   55 1995-11-20          95409
..                      ...     ...        ...  ...        ...            ...
995     Speciality Products    Male  Caucasian   33 2016-09-18          98427
996     Speciality Products  Female      Asian   44 2010-05-31          47387
997     Speciality Products    Male      Asian   31 2019-06-10         176710
998     Speciality Products  Female      Asian   33 2012-01-28          95960
999               Corporate  Female      Asian   63 2020-07-26         216195

     Bonus %        Country       City  Exit Date
0       0.15  United States    Seattle 2021-10-16
1       0.00          China  Chongqing        NaT
2       0.20  United States    Chicago        NaT
3       0.07  United States    Chicago        NaT
4       0.00  United States    Phoenix        NaT
..       ...            ...        ...        ...
995     0.00  United States   Columbus        NaT
996     0.00          China    Chengdu 2018-01-08
997     0.15  United States      Miami        NaT
998     0.00          China    Chengdu        NaT
999     0.31  United States      Miami        NaT

[1000 rows x 14 columns]

In [4]:
gp=data.groupby("Department").agg({"Gender":"count"})
print(gp)

                 Gender
Department
Accounting           96
Engineering         158
Finance             120
Human Resources     125
IT                  241
Marketing           120
Sales               140

In [5]:
gp=data.groupby("Job Title").agg({"EEID":"count"})
print(gp)

                                EEID
Job Title
Account Representative            21
Analyst                           51
Analyst II                        53
Automation Engineer                7
Business Partner                  19
Cloud Infrastructure Architect    15
Computer Systems Manager          21
Controls Engineer                 15
Development Engineer              19
Director                         121
Engineering Manager               20
Enterprise Architect              18
Field Engineer                    21
HRIS Analyst                      16
IT Coordinator                    11
IT Systems Architect              12
Manager                           98
Network Administrator             10
Network Architect                 18
Network Engineer                   7
Operations Engineer               12
Quality Engineer                  20
Service Desk Analyst              10
Solutions Architect               15
Sr. Account Representative         9
Sr. Analyst                       70
Sr. Business Partner              17
Sr. Manger                       110
System AdministratorÂ              15
Systems Analyst                   15
Technical Architect               17
Test Engineer                     12
Vice President                   105

In [11]:
gp=data.groupby(["Department","Gender",""]).agg({"EEID":"count"})
print(gp)

                        EEID
Department      Gender
Accounting      Female    53
                Male      43
Engineering     Female    80
                Male      78
Finance         Female    69
                Male      51
Human Resources Female    64
                Male      61
IT              Female   119
                Male     122
Marketing       Female    57
                Male      63
Sales           Female    76
                Male      64

In [12]:
gp1=data.groupby("Country").agg({"Age":"mean"})
print(gp1)

                     Age
Country
Brazil         43.654676
China          45.389908
United States  44.197512

In [30]:
gp2=data.groupby(["Full Name","Gender","Country","City","Annual Salary"]).agg({"Age":"mean"},{"Annul Salary":"mean"}).head(50)
print(gp2)

                                                                       Age
Full Name          Gender Country       City           Annual Salary
Aaliyah Mai        Female United States Phoenix        246589         57.0
Aaron Garza        Male   United States Columbus       165756         39.0
Aaron Maldonado    Male   United States Seattle        62861          39.0
Abigail Garza      Female United States Seattle        45049          33.0
Abigail Mejia      Female Brazil        Rio de Janerio 98581          56.0
Abigail Vang       Female China         Chengdu        109680         40.0
Adam Dang          Male   China         Chongqing      166331         45.0
Adam Espinoza      Male   United States Seattle        60055          36.0
Adam He            Male   China         Beijing        181356         35.0
Adam Kaur          Male   China         Chengdu        109059         60.0
Adam Nelson        Male   United States Chicago        168014         25.0
Addison Do         Female United States Columbus       90678          46.0
Addison Mehta      Female United States Columbus       127616         27.0
Addison Perez      Female Brazil        Sao Paulo      123588         29.0
Addison Roberts    Female United States Seattle        60985          65.0
Adeline Huang      Female China         Chengdu        99989          34.0
Adeline Thao       Female United States Seattle        183239         54.0
Adeline Yang       Female China         Chongqing      86173          53.0
Adrian Fernandez   Male   United States Columbus       54994          45.0
Adrian Ruiz        Male   Brazil        Sao Paulo      95499          34.0
Aiden Bryant       Male   United States Columbus       70122          47.0
Aiden Gonzales     Male   Brazil        Sao Paulo      186033         44.0
Aiden Le           Male   United States Austin         99774          55.0
Aiden Silva        Male   Brazil        Manaus         186725         42.0
Alexander Bryant   Male   United States Seattle        88758          30.0
Alexander Choi     Male   United States Chicago        102270         55.0
Alexander Foster   Male   United States Columbus       51513          35.0
Alexander Gonzales Male   United States Phoenix        128329         34.0
Alexander Jackson  Male   United States Columbus       109883         45.0
Alexander James    Male   United States Columbus       131179         42.0
Alexander Morris   Male   United States Phoenix        119631         33.0
Alexander Rivera   Male   Brazil        Manaus         76802          58.0
Alice Lopez        Female United States Seattle        82907          48.0
Alice Mehta        Female China         Beijing        52621          45.0
Alice Roberts      Female United States Miami          162978         54.0
Alice Soto         Female Brazil        Manaus         50857          56.0
Alice Thompson     Female United States Seattle        217783         48.0
Alice Tran         Female United States Seattle        40897          39.0
Alice Xiong        Female China         Chengdu        221465         55.0
Alice Young        Female United States Chicago        91621          46.0
Allison Ayala      Female United States Austin         43363          36.0
Allison Daniels    Female United States Phoenix        103524         37.0
Allison Espinoza   Female United States Miami          66958          45.0
Allison Leung      Female United States Austin         97830          62.0
Allison Medina     Female Brazil        Sao Paulo      111038         55.0
Allison Roberts    Female United States Columbus       222224         54.0
Amelia Bell        Female United States Seattle        89769          53.0
Amelia Bui         Female China         Chengdu        151853         46.0
Amelia Choi        Female United States Miami          117278         43.0
Amelia Kaur        Female United States Columbus       77442          30.0

#

In [32]:
gp1=data.groupby("Country").agg({"Annual Salary":"max"})
print(gp1)

               Annual Salary
Country
Brazil                258426
China                 257194
United States         258498

In [34]:
gp1=data.groupby(["Country","Gender"]).agg({"Annual Salary":"max","Age":"min"})
print(gp1)

                      Annual Salary  Age
Country       Gender
Brazil        Female         258426   25
              Male           249506   26
China         Female         249686   25
              Male           257194   25
United States Female         258498   25
              Male           258081   25