In [6]:
import pandas as pd
data={"Name":["John","Peter","Lisa"],
      "Age":[25,28,31],
      "Salary":[25000,30000,35000]}
df=pd.DataFrame(data)
print(df)

    Name  Age  Salary
0   John   25   25000
1  Peter   28   30000
2   Lisa   31   35000

In [22]:
data = pd.read_csv("username.csv")
print(data)

  Username; Identifier;First name;Last name
0               booker12;9012;Rachel;Booker
1                    grey07;2070;Laura;Grey
2              johnson81;4081;Craig;Johnson
3               jenkins46;9346;Mary;Jenkins
4                  smith79;5079;Jamie;Smith

In [19]:
data = pd.read_csv("D:/DOWNLOAD/username-or-email.csv")
print(data)

  Username;Login email;Identifier;First name;Last name
0     booker12;rachel@example.com;9012;Rachel;Booker
1                            grey07;;2070;Laura;Grey
2                      johnson81;;4081;Craig;Johnson
3       jenkins46;mary@example.com;9346;Mary;Jenkins
4         smith79;jamie@example.com;5079;Jamie;Smith

In [23]:
data = pd.read_csv("annual-enterprise-survey.csv")
print(data)

       year industry_code_ANZSIC               industry_name_ANZSIC  \
0      2011                    A  Agriculture, Forestry and Fishing
1      2011                    A  Agriculture, Forestry and Fishing
2      2011                    A  Agriculture, Forestry and Fishing
3      2011                    A  Agriculture, Forestry and Fishing
4      2011                    A  Agriculture, Forestry and Fishing
...     ...                  ...                                ...
20119  2023                  all                     All Industries
20120  2023                  all                     All Industries
20121  2023                  all                     All Industries
20122  2023                  all                     All Industries
20123  2023                  all                     All Industries

        rme_size_grp                                         variable  \
0                a_0                                    Activity unit
1                a_0                           Rolling mean employees
2                a_0                          Salaries and wages paid
3                a_0  Sales, government funding, grants and subsidies
4                a_0                                     Total income
...              ...                                              ...
20119  j_Grand_Total                                     Total income
20120  j_Grand_Total                                Total expenditure
20121  j_Grand_Total                      Operating profit before tax
20122  j_Grand_Total                                     Total assets
20123  j_Grand_Total                            Fixed tangible assets

         value               unit
0        46134              COUNT
1            0              COUNT
2          279  DOLLARS(millions)
3         8187  DOLLARS(millions)
4         8866  DOLLARS(millions)
...        ...                ...
20119   930995  DOLLARS(millions)
20120   832964  DOLLARS(millions)
20121   103616  DOLLARS(millions)
20122  2831894  DOLLARS(millions)
20123   681890  DOLLARS(millions)

[20124 rows x 7 columns]

In [ ]:
#handaling duplicates value  in pandas

In [27]:
print(data["industry_name_ANZSIC"].duplicated())

0        False
1         True
2         True
3         True
4         True
         ...
20119     True
20120     True
20121     True
20122     True
20123     True
Name: industry_name_ANZSIC, Length: 20124, dtype: bool

In [30]:
print(data["industry_name_ANZSIC"].duplicated().sum())

20104

In [33]:
print(data.drop_duplicates("rme_size_grp"))

      year industry_code_ANZSIC               industry_name_ANZSIC  \
0     2011                    A  Agriculture, Forestry and Fishing
9     2011                    A  Agriculture, Forestry and Fishing
18    2011                    A  Agriculture, Forestry and Fishing
27    2011                    A  Agriculture, Forestry and Fishing
36    2011                    A  Agriculture, Forestry and Fishing
45    2011                    A  Agriculture, Forestry and Fishing
54    2011                    A  Agriculture, Forestry and Fishing
63    2011                    A  Agriculture, Forestry and Fishing
72    2011                    A  Agriculture, Forestry and Fishing
1539  2011                  all                     All Industries

          rme_size_grp       variable   value   unit
0                  a_0  Activity unit   46134  COUNT
9                b_1-5  Activity unit   21777  COUNT
18               c_6-9  Activity unit    1965  COUNT
27             d_10-19  Activity unit    1140  COUNT
36             e_20-49  Activity unit     480  COUNT
45             f_50-99  Activity unit     111  COUNT
54           g_100-199  Activity unit      27  COUNT
63              h_200+  Activity unit      15  COUNT
72    i_Industry_Total  Activity unit   71652  COUNT
1539     j_Grand_Total  Activity unit  438321  COUNT

In [ ]:
#working with missing data in pandas